.App {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-content {
  padding-bottom: 3rem;
  margin-bottom: 5rem;

  .on-screen {
    animation: fadeInRightToLeft 1.5s;
    -moz-animation: fadeInRightToLeft 1.5s; /* Firefox */
    -webkit-animation: fadeInRightToLeft 1.5s; /* Safari and Chrome */
    -o-animation: fadeInRightToLeft 1.5s; /* Opera */
  }

  .on-screen-2 {
    animation: fadeInLeftToRight 1.5s;
    -moz-animation: fadeInLeftToRight 1.5s; /* Firefox */
    -webkit-animation: fadeInLeftToRight 1.5s; /* Safari and Chrome */
    -o-animation: fadeInLeftToRight 1.5s; /* Opera */
  }
}
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0,80px,0);
    opacity: 0;
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0,-80px,0);
    opacity: 0;
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fadeInRightToLeft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fadeInLeftToRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}